<div class="col-md-4">
    <div class="card border-0" style="width: 18rem;">
        <a class="image-card" href="#"><img class="card-img-top" src="{{ asset('img/téléchargement.svg') }}" alt="Card image cap"></a>
        <div class="card-body p-0 m-0">
            <a class="titre-article " href="#"><h3 class="card-title font-weight-bold pt-4">From Counter-Strike to keyboard shortcuts</h3></a>
            <p class="p-description card-text mt-3 ">Pitch engineer and Counter-Strike world champion Jeremy Vuillermet shares how gaming concepts influenced our quick menu</p>
        </div>
    </div>
</div>